# 績效表現

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# get soup
res = requests.get("https://fund.cnyes.com/detail/%E5%AE%89%E8%81%AF%E5%8F%B0%E7%81%A3%E7%A7%91%E6%8A%80%E5%9F%BA%E9%87%91/A36004/")
soup = BeautifulSoup(res.content,'lxml')

# get tables
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df

,Unnamed: 0,1月,3月,6月,今年以來,1年,3年,5年,10年
0,基金績效,12.75%,17.43%,37.13%,19.74%,94.82%,122.65%,298.78%,429.29%
1,基準指數,13.04%,7.73%,17.72%,8.43%,58.60%,98.23%,183.39%,428.94%
2,同組平均,9.61%,4.33%,22.91%,8.44%,72.33%,81.20%,166.94%,290.23%
3,同組排名,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,贏過N%基金,80%,95%,90%,91%,92%,87%,99%,82%

In [2]:
td = soup.select('tr._1DQuA span')
for i in range(0,8):
    df.iloc[3][i+1]=str(td[i]).split('data-numerator="')[1].split('"')[0]+'/'+str(td[i]).split('data-denominator="')[1].split('"')[0]

In [3]:
df

,Unnamed: 0,1月,3月,6月,今年以來,1年,3年,5年,10年
0,基金績效,12.75%,17.43%,37.13%,19.74%,94.82%,122.65%,298.78%,429.29%
1,基準指數,13.04%,7.73%,17.72%,8.43%,58.60%,98.23%,183.39%,428.94%
2,同組平均,9.61%,4.33%,22.91%,8.44%,72.33%,81.20%,166.94%,290.23%
3,同組排名,30/152,8/149,14/136,13/149,10/125,12/94,1/74,10/57
4,贏過N%基金,80%,95%,90%,91%,92%,87%,99%,82%

# 風險評估

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# get soup
res = requests.get("https://fund.cnyes.com/detail/%E5%AE%89%E8%81%AF%E5%8F%B0%E7%81%A3%E7%A7%91%E6%8A%80%E5%9F%BA%E9%87%91/A36004/risk")
soup = BeautifulSoup(res.content,'lxml')

# get tables
table = soup.find_all('table')[0] 
df1 = pd.read_html(str(table))[0]
df1

       風險指標      1年      3年      5年
0       夏普值    1.75    1.19    1.50
1     Beta值    0.94    0.82    0.81
2  r square      --   80.03      --
3       標準差  34.24%  26.95%  22.13%
4     Alpha      --   13.23      --